@import url('https://fonts.googleapis.com/css?family=Nunito|Orbitron|Indie+Flower|Pacifico');

body{
  background-color: #1f1f1f;
  color: white;
}

h1{
  margin-bottom: 30px;
  font-size: 4.2em;
  font-family: Pacifico;
}

.line,h3,button{
  display: inline-block;
  font-family: Orbitron;
  margin-bottom: 20px;
}

#countdownClock{
  margin: auto;
  margin-top: 5px;
  height: 300px;
  width: 300px;
  border: 2px solid #1f1f1f;
  box-shadow: 0px 0px 20px 5px #ff1f1f, inset  0px 0px 10px 5px rgb(118,224,31);
  padding: 3px 3px 3px 3px;
  border-radius: 50%;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  overflow: hidden;
  background: linear-gradient(to top, rgba(118,224,15,1) 0%,rgba(118,224,15,0) 0%);
}

#currentStatus{
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 150px;
  font-size: 2em;
  text-transform: uppercase;
  float: top;
  font-family: Nunito;
}

#countdownTimer{
  margin-top: -40px;
  margin-bottom: 80px;
  line-height: 50px;
  font-size: 3em;
  float: top;
  font-family: Orbitron;
}

button{
  background: none;
  width: 40px;
  height: 40px;
  border: 1.5px solid rgb(118,224,51);
  border-radius: 10px 10px 10px 10px;
  box-shadow: inset 0px 0px 10px 0.5px rgb(118,224,51),0px 0px 10px 1px rgb(118,224,51);
  color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}
